<div class="download">
  <%= link_to "Download CSV", rushing_index_path(format: "csv", direction: @sort_direction, column: @sort_column, search: @player) %>
</div>

<%= form_tag(rushing_index_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
<%= submit_tag "Search" %>
<% end %>
<table>
  <tr>
    <th>Player</th>
    <th>Team</th>
    <th>Position</th>
    <th>Rushing Attempts/Game Avg</th>
    <th>Rushing Attempts</th>
    <th><%= sortable "yds", "Total Rushing Yards", @player %></th>
    <th>Rushing Avg Yards/Attempt</th>
    <th>Rushing Yards/Game</th>
    <th><%= sortable "td", "Total Rushing Touchdowns", @player %></th>
    <th><%= sortable "lng", "Longest Rush", @player %></th>
    <th>Rushing First Downs</th>
    <th>Rushing First Downs %</th>
    <th>Rushing 20+ Yards Each</th>
    <th>Rushing 40+ Yards Each</th>
    <th>Rushing Fumbles</th>
  </tr>
<% @rushes.each do |rush| %>
  <tr>
    <td><%= rush.player %></td>
    <td><%= rush.team %></td>
    <td><%= rush.pos.to_s %></td>
    <td><%= rush.att %></td>
    <td><%= rush.att_per_g %></td>
    <td><%= rush.yds %></td>
    <td><%= rush.avg %></td>
    <td><%= rush.yds_per_g %></td>
    <td><%= rush.td %></td>
    <td><%= rush.lng %></td>
    <td><%= rush.first %></td>
    <td><%= rush.first_percent %></td>
    <td><%= rush.twenty_plus %></td>
    <td><%= rush.forty_plus %></td>
    <td><%= rush.fum %></td>
  </tr>
<% end %>
</table>